# Игнорируем виртуальное окружение
venv/
.env/

# Игнорируем кэш Python
__pycache__/
*.py[cod]

# Игнорируем файлы, созданные Poetry
.python-version
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Игнорируем файлы, созданные IDE
.idea/
.vscode/